# Question(1)

string

In [2]:
s = "hello"

In [10]:
type(s)

str

list

In [4]:
lst = [1,2,45,"anything"]

In [11]:
type(lst)

list

float

In [6]:
f = 4.05

In [13]:
type(f)

float

tuple

In [8]:
t = (1,2,3,45)

In [14]:
type(t)

tuple

# Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

## Answer:

(i) string
(ii) string
(iii) list
(iv) integer

# Q3. Explain the use of the following operators using an example:

(i) / -> divide
(ii) % -> modulus
(iii) // -> floor
(iv) ** -> exponent

In [ ]:
a = int(input("Enter 1st number: "))
b = int(input("Enter 2nd number: "))

print("a divided by b = " ,a/b)
print("a modulo b = " ,a%b)
print("floor = " ,a//b)
print("a to the power b = " ,a**b)

# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [35]:
lst = [1,2,4.5,'a','abc',1 + 2j,"this is a list",8,9.9,100]

In [36]:
for i in lst:
    print("Element: ",i,"\nType: ",type(i))

Element:  1
Type:  <class 'int'>
Element:  2
Type:  <class 'int'>
Element:  4.5
Type:  <class 'float'>
Element:  a
Type:  <class 'str'>
Element:  abc
Type:  <class 'str'>
Element:  (1+2j)
Type:  <class 'complex'>
Element:  this is a list
Type:  <class 'str'>
Element:  8
Type:  <class 'int'>
Element:  9.9
Type:  <class 'float'>
Element:  100
Type:  <class 'int'>

# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how manytimes it can be divisible.

In [5]:
A = int(input("Enter the value of number A: "))
B = int(input("Enter the value of number B: "))

count = 0  # To keep track of the number of divisions

while A % B == 0:
    count += 1
    A //= B  # Divide A by B and update the value of A

print(f"Number A is divisible by number B {count} times.")

Enter the value of number A:  18
Enter the value of number B:  3

Number A is divisible by number B 2 times.

# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [13]:
l = []

for j in range(25):
    l.append(j+1)

In [14]:
for i in l:
    if i%3 == 0:
        print("Element is divisible by 3")
    else:
        print("Not divisible by 3")

Not divisible by 3
Not divisible by 3
Element is divisible by 3
Not divisible by 3
Not divisible by 3
Element is divisible by 3
Not divisible by 3
Not divisible by 3
Element is divisible by 3
Not divisible by 3
Not divisible by 3
Element is divisible by 3
Not divisible by 3
Not divisible by 3
Element is divisible by 3
Not divisible by 3
Not divisible by 3
Element is divisible by 3
Not divisible by 3
Not divisible by 3
Element is divisible by 3
Not divisible by 3
Not divisible by 3
Element is divisible by 3
Not divisible by 3

# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

## mutable data types

Mutable data types are those whose value can be changed/modified in-place after they have been created.

Mutable data types in python:
1: List
2: Dictionary
3: Set

In [19]:
l = [1,2,3,45,6,0]

In [20]:
l[3] = 4

In [21]:
l

[1, 2, 3, 4, 6, 0]

## immutable data types

Immutable data types are those which cannot be changed after they have been created.

Immutable data types in python:
1: tuple
2: string

In [22]:
t = (1,2,3,5,5,6)

In [23]:
#t[3] = 4 
# this will throw error because tuple data type is immutable

TypeError: 'tuple' object does not support item assignment